body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background: #007bff;
    color: #fff;
    padding: 15px;
    font-size: 24px;
}

.container {
    margin-top: 40px;
}

button {
    background: #007bff;
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 6px;
}

button:hover {
    background: #0056b3;
}

input {
    padding: 10px;
    width: 250px;
    margin: 10px;
    border-radius: 5px;
}
